<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>index</title>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		 	function deleteBoardFile(fileSeq){
				$.ajax({
					url: '/board/deleteBoardFile',
					type: 'post',
					data: {
							"boardSeq": $("input[name='boardSeq']").val(),
							"fileSeq": fileSeq
						  },
				    success: function(){
				    	location.reload();
				    },
				    error: function(e){
				    	console.log(e);
				    }
				});
			 }
		
			$(function() {
				/*<![CDATA[*/
				const loginUserId = /*[[${#authentication.principal.username}]]*/;
				const boardWriter = /*[[${board.boardWriter}]]*/;
				const fileList = /*[[${fileList}]]*/;
				/*]]>*/
				console.log(loginUserId);
				console.log(boardWriter);
				console.log(fileList);
				
				/*if(fileList != null){
					$("input[name='fileSeq']").val(fileList[fileList.length - 1].fileSeq + 1);
				}else{
					$("input[name='fileSeq']").val('1');
				}*/
				
				if(loginUserId !== boardWriter) {
					$("#btnWrap").hide();
					$("#btnDelete").hide();
					$("#boardTitle").attr("readonly", true);
					$("#boardContent").attr("readonly", true);
				}
				$("#btnUpdate").on("click", (e) => {
					alert("수정이 완료되었습니다.");
				});
				
				$(".downlink").on("click", function(e) {
					e.preventDefault();
					
					const fileName = $(this).attr("href");
					window.location = "/board/fileDown?fileName=" + fileName;
				});			
			});
			
		</script>
	</th:block>
</head>

<body>
	<div layout:fragment="content"
		style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<h3>게시글 상세</h3>
		<form action="/board/updateBoard" method="post" enctype="multipart/form-data">
			<input type="hidden" name="boardSeq" th:value="${board.boardSeq}" />
			<input type="hidden" name="fileSeq" />
			<table border="1" style="border-collapse: collapse;">
				<tr>
					<td style="background: orenge; width: 70px">
						제목
					</td>
					<td style="text-align: left">
						<input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}" />
					</td>
				</tr>
				<tr>
					<td style="background: orenge;">
						작성자
					</td>
					<td style="text-align: left">
						<input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}" readonly />
					</td>
				</tr>
				<tr>
					<td style="background: orenge;">
						내용
					</td>
					<td style="text-align: left">
						<textarea name="boardContent" id="boardContent" cols="40" rows="10" th:text="${board.boardContent}"></textarea>
					</td>
				</tr>
				<tr>
					<td style="background: orenge;">
						작성일
					</td>
					<td style="text-align: left" th:text="${#temporals.format(board.boardRegdate, 'yyyy-MM-dd HH:mm:ss')}" >
						
					</td>
				</tr>
				<tr>
					<td style="background: orenge;">
						조회수
					</td>
					<td style="text-align: left" th:text="${board.boardCnt}" >
						
					</td>
				</tr>
				<tr>
					<td style="background: orange; width: 70px;">
						첨부파일
					</td>
					<td>
						<div th:if="${fileList ne null}" th:each="file : ${fileList}" th:remove="tag">
							<a th:href="${file.fileName}" class="downlink" th:id="${file.fileSeq}" th:text="${file.originalFileName}"></a>
							<button type="button" th:onclick="'deleteBoardFile('+ ${file.fileSeq} +')'" id="btnDeleteFile"
								>삭제</button>
							<img style="display: block; max-width: 290px;" th:src="@{/upload/}+${file.fileName}" />
							<br />
						</div> 
					</td>
				</tr>
				<tr>
					<td style="background: orange; width: 70px;">
						업로드
					</td>
					<td align="left">
						<input type="file" name="uploadFiles" multiple="multiple">
					</td>
				</tr>
				<tr id="btnWrap">
					<td colspan="2" align="center">
						<button type="submit" id="btnUpdate">수정</button>
					</td>
				</tr>
			</table>
		</form>
		<hr />
		<a href="/board/insertBoard">글 등록</a>
		<a id="btnDelete" th:href="@{/board/deleteBoard/{boardSeq} (boardSeq=${board.boardSeq})}">글 삭제</a>
		<a href="/board/getBoardList">글 목록</a>
		<table border="1" style="border-collapse: collapse;">
			<tr th:if="${replyList ne null}" th:each="reply : ${replyList}">
				<td th:text=${reply.replyContent}></td>
				<td th:text=${reply.replyWriter}></td>
				<td th:text="${#temporals.format(reply.replyRegdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
		</table>
		<form action="/board/replyInsert" method="post" style="display: flex; flex-direction: column;">
			<input type="hidden" name="boardSeq" th:value="${board.boardSeq}" />
			<input type="hidden" name="replyWriter" th:value="${#authentication.principal.username}"/>
			<textarea name="replyContent" id="" cols="50" rows="10"></textarea>
			<button type="submit" id="btnReply">댓글등록</button>
		</form>
	</div>
</body>

</html>